<!-- views/partials/header.ejs -->

<nav class="navbar" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="fa fa-user"></span>
                App
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>

        <% if (typeof user !== 'undefined' && user != null) { %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile"><%= user.email %></a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <% } %>

    </div>
</nav>
