<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<!-- Pick a theme -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">

<!-- Modify it slightly -->
<style>
  body {
    padding-top:30px;
    color: #000;
  }

  a {
    color: #000;
    border-bottom: 1px solid #fff;
  }
  a:hover,
  a:focus {
    color: #666;
    border-bottom: 1px solid #000;
  }
   .navbar-brand:hover,
  .navbar-brand:focus {
    color: #666;
  }
  .navbar-nav > li {
    color: #000;
  }
  .navbar-nav > li > a {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: #666;
    background-color: #fff;
    border-bottom: 1px solid #000;
  }
</style>
