<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>App</title>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="container">

        <% if (user.authType == 'Local') { %>

        <!-- LOCAL INFORMATION -->
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>

        <% } else if (user.authType == 'Facebook') { %>

        <!-- FACEBOOK INFORMATION -->
          <div class="well">
              <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                  <p>
                      <strong>id</strong>: <%= user.facebook.id %><br>
                      <strong>token</strong>: <%= user.facebook.token %><br>
                      <strong>email</strong>: <%= user.facebook.email %><br>
                      <strong>name</strong>: <%= user.facebook.name %>
                  </p>

          </div>

              <% } else if (user.authType == 'Strava') { %>

              <!-- STRAVA INFORMATION -->
                <div class="well">
                    <h3 class="text-primary"><span class="fa fa-bicycle"></span>Strava</h3>

                        <p>
                            <strong>id</strong>: <%= user.strava.id %><br>
                            <strong>token</strong>: <%= user.strava.token %><br>
                            <strong>email</strong>: <%= user.strava.email %><br>
                            <strong>name</strong>: <%= user.strava.name %>
                        </p>

                </div>


              <% } else if (user.authType == 'Google') { %>

            <!-- GOOGLE INFORMATION -->
           <div class="well">
               <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                   <p>
                       <strong>id</strong>: <%= user.google.id %><br>
                       <strong>token</strong>: <%= user.google.token %><br>
                       <strong>email</strong>: <%= user.google.email %><br>
                       <strong>name</strong>: <%= user.google.name %>
                   </p>

           </div>


               <% } else  { throw('Invalid user.authType='+user.authType) } %>

    </div>

        <footer>
            <% include ./partials/footer %>
        </footer>

    </body>
    </html>
